aioschedule==0.5.2
beautifulsoup4==4.9.3
bs4==0.0.1
captcha-solver==0.1.5
certifi==2021.5.30
charset-normalizer==2.0.3
cssselect==1.1.0
idna==3.2
lxml==4.6.3
parsel==1.6.0
pymitter==0.3.1
pyTelegramBotAPI==3.8.2
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
vk-api==11.9.4
w3lib==1.22.0
